{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="topnav">
    <!-- Navigation links for Home and Sign Up pages -->
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'signup' %}">Sign Up</a>
  </div>
  <div class="login-container">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      <div class="input-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
